<div id="page_wrapper">

  <div id="content">
    
    <img src="profilepic.jpg" style="width:304px;height:228px;">

    <h1>Hi,</h1>

    <p>My name is Lucas. I am a musician, entrepreneur, and aspiring programmer from Denver, CO. I am currently a student at DaVinci Institute, taking the Ruby on Rails course being taught by the rubyist sensei Jason Noble. Motivated by many factors, including the challenge in and of itself, I have found myself at the beginning of this learning curve realizing the evolutionary problem of programming a piece of software is much more a praxis than it is a project with an end state. A friend of mine, whom I consider to be my artistic mentor, once spoke to me about the nature of creating electronic music. He said that in order to make people dance while making music with computers, you have to find the ‘ghost in the machine’, and then make it scream. From an anthropomorphic perspective, you could imagine this as its soul. This intriguing metaphor has inspired me. Armed with a rudimentary knowledge of programming and the desire to create something of beauty, I begin a journey in not only writing software, but finding, and maybe even creating the ghost as well.</p>
    <p> ; ]</p>
    <br>

    <p><a href="http://jasonnoble.org/">Jason Noble's Blog</a></p>

    <p><a href="http://www.davincicoders.com/">DaVinci Coders Website</a></p>
  </div>
</div>
