<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profilepic.jpeg" %>
  </div>

  <div id="content">
    <h1>Header 1</h1>

    <p>Line of text</p>

    <p>Line of text</p>

    <p>Line of text</p>

    <p>Line of text with break after</p><br>

    <p>Line of text with <a href="google.com">link</a>. </p>
  </div>
</div>
