<div id="page_wrapper">

  <div id="content">

    <p>As I mentioned before, I am a musician. Here are some of the projects I am a part of. This first track was produced by Copenhagen producer Daniel Mørch, Denver DJ/producer Jaz McDonald, and myself:</p>

<iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/239555207&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

<p>This track is a practice section from my band called <a href="http://theogenmusic.com/">Theogen</a>. We create improvisational electronic music here in Denver:</p>

<iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/209649450&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

<p>And I perform and produce for my friend's solo project called JL Universe:</p>

<iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/194564063&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

  </div>
</div>