<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "science.html.erb", :media => "all" %>
  <%= javascript_include_tag "science.html.erb" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
